{% extends 'base.html' %}
{% block title %}G的故事{% endblock %}
{% block page %}
<div class="page">
Monsieur G的故事
</div>
{% endblock %}

{% block content %}
	<div id="front">
	<span>
   &nbsp;&nbsp;&nbsp;&nbsp;Monsieur G.热爱旅行，痴迷收藏。他住在里昂老城，他的房子是一座博物馆，摆着数不清的香水瓶、耳坠、胸针、手帕、烟灰缸、纸牌、信纸、烛台。

    他有太多太多的好东西，他喜欢这些精致的东西，也喜欢把它们送给身边的恋物者们。 
    他说，每个恋物者都该学会和物品相处，倾注谈心，释放孤独。渐渐地，等待Monsieur G.准备的Rendez-vous盒子成为了恋物者的一个习惯。 
    如今，Monsieur G. 离开法国，周游世界，但他总是随身带着Rendez-vous盒子，所到之处， 献上这份恋物者的温情与敬意。 
    作为恋物者的你，是否也渴望感受到Rendez-vous盒子带来的惊喜与问候？Monsieur G.为你献上Rendez-vous礼盒。每个盒子里的藏品都独一无二，精心挑选。
     

    如果你喜欢神秘与惊喜，如果你想送自己一份礼物，如果你厌倦了在网络上搜索猎奇，那么把这一切交给Monsieur G.。请私信微博<a href="#">@MonsieurG萌季宜品</a> ，优先订购萌季限量礼盒。快给自己安排一次“被惊喜”吧！
	</span>
	</div>
{% endblock %}
